<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="CSS/详情样式.css">
</head>
<style>
    #button{
        width: 90px;
        height: 50px;
        position: absolute;
        top:5px;
        right: 5px;

    }
</style>
<body>
<p style="text-align: center">
    <img src="/img/支付宝付款码.png" />
</p>
    <input type="button" id="button" name="back" value="返回"onClick="javascript:history.back()">
</body>
</html>